.brandImg {
  height: 50px;
  width: 50px;
}
#id {
  transition: ease;
  transition-delay: initial;
  display: none;
}

#navbar {
  background-color: none;
}
#foot {
  background-color: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: darkgray-300;
}
